
.DS_Store
DesktopSorter/build/lib/DesktopSorter/__init__.py
DesktopSorter/build/lib/DesktopSorter/sort.py
DesktopSorter/DesktopSorter.egg-info/dependency_links.txt
DesktopSorter/DesktopSorter.egg-info/entry_points.txt
DesktopSorter/DesktopSorter.egg-info/PKG-INFO
DesktopSorter/DesktopSorter.egg-info/SOURCES.txt
DesktopSorter/DesktopSorter.egg-info/top_level.txt
